.block-screen {
  .header {
    background-color:$aubergin;
    color:$white;
  }
  .block-transactions,
  .header > * {
    @include content-max-width;
  }

  .block-navigation,
  .basic-block-info {
    justify-content:space-between;
  }
  .basic-block-info {
    border-bottom:2px solid $smoke;
    align-items:flex-end;
    line-height:50px;
    padding-bottom:20px;
    margin-bottom:20px;
  }
  .block-navigation ,
  .detail-block-info {
    padding: 20px 0;
  }
  .detail-block-info .field {
    margin-right:50px;
    margin-bottom:15px;
  }
  .account-address {
    color:$magaenta;
  }
  .block-height {
    @include font-size(xl);
  }
  .ago .number {
    @include font-size(xxl);
  }
  .ago .unit {
    @include font-size(m);
  }
  .ago .unit + .number {
    margin-left:20px;
  }
  .field-name {
    @include font-size(xs);
    opacity:0.4;
  }
  .field-value {
    margin-top:5px;
    @include font-size(l);
  }
  .block-transactions .title {
    margin-top:50px;
    margin-bottom:30px;
    @include font-size(l);
    font-weight:normal;
    padding-bottom:20px;
    border-bottom:2px solid $aubergin;
  }
}
