@import '../../style/mixins';

.block-screen {
  .block {
    padding-top: 80px;
  }
  .block-header {
    background-color:$aubergin;
    color:$white;
    padding-bottom: 80px;
  }
  .block-transactions,
  .block-micro-detailed,
  .block-header > * {
    @include content-max-width;
  }

  .title {
    @include font-size(l);
    font-weight: bold;

    &-main {
      font-weight: normal;
      color: $white;
    }
  }

  .block-header {
    .title {
      &-main {
        padding-bottom: 20px;
        margin-bottom: 35px;
        border-bottom: 2px solid $white;
      }
    }

    .block-navigation,
    .basic-block-info {
      justify-content:space-between;

      &_reverse {
        flex-direction: row-reverse;
      }
      .field-value, .number {
        @include font-size(m);
        .ae-hash {
          color: $white;
          word-break: break-all;
        }
      }

      .field__hash {
        width: 60%;
        @include only-phone {
          width:100%;
        }
      }


    }
    .basic-block-info {
      align-items:center;
      padding-bottom:20px;
      margin-bottom:20px;
    }
    .block-navigation ,
    .detail-block-info {
      padding: 20px 0;
    }
    .detail-block-info .field {
      margin-bottom:15px;
      @include only-phone {
        width:100%;
      }
    }
    @include only-phone {
      .basic-block-info.grid,
      .detail-block-info .grid {
        display:block;
      }
    }
    .detail-block-info .grid .field {
      margin-right:50px;
    }
    .account-address {
      color:$magaenta;
    }
    .block-height {
      @include font-size(xxl);
      @include only-phone {
        //@include font-size(l);
      }
    }
    .field-name {
      @include font-size(xs);
      opacity:0.4;
    }
    .scroll ,
    .field-value {
      margin-top:5px;
      @include font-size(l);
      @include only-phone {
        @include font-size(m);
      }
    }
    .scroll {
      margin-top:10px;
      padding:12px;
      background-color:white;
      color:$aubergin;
      overflow:scroll;
    }
  }


  .block-transactions, .block-micro-detailed{
    .title {
      margin-top: 50px;
      margin-bottom: 30px;
      @include font-size(l);
      font-weight: normal;
      padding-bottom: 20px;
      border-bottom: 2px solid $aubergin;
    }

    .grid .field {
      margin-top: 20px;
      margin-right:50px;
    }
  }
  .transactions .transaction:nth-child(odd) {
    background:white;
  }
  .transactions {
    margin-top: -50px;
  }
}
