.transaction-screen {
  .title {
    font-weight:normal;
    @include font-size(xl);
    border-bottom:2px solid $aubergin;
    padding-bottom:20px;
    margin-bottom:20px;
  }
  > .inner {
    @include content-max-width;
  }
  .grid {
    border-bottom:2px solid $smoke;
    align-items:flex-end;
    padding-bottom:15px;
  }
  .grid > *{
    margin-right:10px;
  }
  .load-more {
  }
  .field-name {
    @include font-size(s);
  }
}
