.transaction-screen {
  .title {
    font-weight:normal;
    @include font-size(xl);
    border-bottom:2px solid $aubergin;
    padding-bottom:20px;
    margin-bottom:20px;
  }
  > .inner {
    @include content-max-width;
  }
  .grid {
    align-items:flex-end;
    padding-bottom:15px;
  }
  .grid > *{
    margin-right:10px;
  }
  .load-more {
  }
  .field-name {
    @include font-size(s);
  }
  .transactions {
    margin-bottom:50px;
  }
  .transactions .transaction:nth-child(odd) {
    background:white;
  }
}
.transaction-screen .grid {
  @include only-phone {
    flex-wrap: wrap;
  }
}
