@import '../../style/mixins';

.latest-generation-partial {
  background:$white;
  margin-top:80px;
  > .grid {
    @include content-max-width;
    @include only-phone {
      flex-direction:column;
    }
  }
  .explanation {
    padding:50px 100px 50px 0;
    max-width:250px;
  }
  .explanation .title {
    margin-top:0;
    @include font-size(xxl);
    @include only-phone {
      @include font-size(xl);
    }
  }
  .generation-data {
    /* Rectangle 3: */
    flex-grow:1;
    background: $aubergin;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.11);
    border-radius: 10px;
    color:$white;
    padding:50px;
    margin-top:-40px;
    margin-bottom:-40px;
    @include only-phone {
      padding:20px;
    }
  }
  .generation-data .grid {
    justify-content:space-between;
    @include only-phone {
      flex-wrap:wrap;
    }
  }
  .field {
    margin-bottom:20px;
  }
  .field-name {
    @include font-size(xs);
    opacity:0.4;
  }
  .field-value {
    margin-top:5px;
    @include font-size(l);
    @include only-phone {
      @include font-size(m);
    }
  }
  .account-address {
    color:$magaenta;
    a {
      display:inline-block;
    }
    .named-address {
      display:inline-block;
    }
    .named-address .ae-address {
      display:inline-block;
      @include font-size(l);
    }
  }
  .block-extended-info {
    margin-bottom:20px;
    border-bottom:2px solid $smoke;
  }

  .generation-info {
    border-bottom:2px solid $smoke;
  }

  .loader {
    margin: 40%;
  }
}
