.latest-block-partial {
  background:$white;
  margin-top:80px;
  > .grid {
    @include content-max-width;
    @include only-phone {
      flex-direction:column;
    }
  }
  .last-block-ago .number {
    @include font-size(xxl);
    @include phone-and-tablet {
      @include font-size(xl);
    }
  }
  .last-block-ago .unit {
    @include font-size(m);
    @include phone-and-tablet {
      @include font-size(s);
    }
  }
  .explanation {
    padding:50px 100px 50px 0;
    max-width:250px;
  }
  .explanation .title {
    margin-top:0;
    @include font-size(xxl);
    @include only-phone {
      @include font-size(xl);
    }
  }
  .block-data {
    /* Rectangle 3: */
    flex-grow:1;
    background: $aubergin;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.11);
    border-radius: 10px;
    color:$white;
    padding:50px;
    margin-top:-40px;
    margin-bottom:-40px;
    @include only-phone {
      padding:20px;
    }
  }
  .block-data .grid {
    justify-content:space-between;
    @include only-phone {
      flex-wrap:wrap;
    }
  }
  .block-basic-info {
    line-height:40px;
    vertical-align:bottom;
    border-bottom:2px solid $smoke;
    padding-bottom:20px;
    margin-bottom:20px;
  }
  .block-basic-info.grid > .foo {
    background-color:red;
  }
  .chain-height {
    display:flex;
    @include font-size(xxl);
    @include phone-and-tablet {
      @include font-size(xl);
    }
    img {
      margin-right:10px;
      margin-top:-5px;
    }
  }
  .field {
    margin-bottom:20px;
  }
  .field-name {
    @include font-size(xs);
    opacity:0.4;
  }
  .field-value {
    margin-top:5px;
    @include font-size(l);
    @include only-phone {
      @include font-size(m);
    }
  }
  .account-address {
    color:$magaenta;
  }
  .block-extended-info {
    margin-bottom:20px;
  }
}
