@import '../../style/mixins';

.status-screen {
  > * {
    @include content-max-width;
  }

  .objView {
    width: 95%;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}
