@import '../../style/mixins';

.title {

    @include font-size(l);
   font-weight: bold;

    &-main{

    }
    &-sub {
     font-weight: normal;
    }
    &-numbers{
      @include font-size(m);
      font-family: 'Roboto Mono', monospace;
      font-weight: 500;
    }

}

.generation-header {
  .title {
    margin-left: 10%;
    padding-left: 20px;
  }
  &__section {
    width:80%;
    margin: 0 auto 30px;
    background-color:$aubergin;
    color:$white;
    border-radius: 5px;
    padding-top: 20px;
  }
}

.generation-screen {
  padding-top: 10px;
  .block-transactions,
  .block-micros,
  .generation-header__section > * {
    @include content-max-width;
  }


  .generation-header {
    .gen-navigation,
    .basic-gen-info {
      justify-content:space-between;
    }
    .basic-gen-info {
      align-items: baseline;
    }
    .gen-navigation ,
    .detail-block-info {
      padding: 20px 0;
    }
    .detail-block-info .field {
      margin-bottom:15px;
      @include only-phone {
        width:100%;
      }
    }
    @include only-phone {
      .basic-gen-info.grid,
      .detail-block-info .grid {
        display:block;
      }
    }
    .detail-block-info .grid .field:not(:last-child) {
      margin-right:50px;
    }
    .account-address {
      color:$magaenta;

    }
  }
  
  @include only-phone {
    .basic-gen-info.grid,
    .detail-block-info .grid {
      display:block;
    }
  }
  .detail-block-info .grid .field:not(:last-child) {
    margin-right:50px;
  }
  .account-address {
    color:$magaenta;
  }
  .field {
    margin-bottom:20px;
  }
  .field-name {
    @include font-size(xs);
    opacity:0.4;
  }
  .field-value {
    margin-top:5px;
    @include font-size(l);
    @include only-phone {
      @include font-size(m);
    }
  }

  .block-transactions, .block-micros{
    .title-sub {
      margin-top: 50px;
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 2px solid $aubergin;
    }

    .grid .field {
      margin-top: 20px;
      margin-right:50px;
    }
  }
  .transactions .transaction:nth-child(even) {
    background:$smoke;
  }

  .micro-block {
    background: white;
    color: black;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
  }

}
