.market-stats-partial {
  text-align:center;
  background: $white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.11);
  border-radius: 10px;
  width:calc(100% - 50px);
  max-width:1030px;
  padding:30px 0;
  .grid {
    justify-content:center;
    @include only-phone {
      flex-direction:column;
    }
  }
  .grid > * {
    @include tablet-and-desktop {
      padding:30px;
    }
    @include only-phone {
      padding:20px;
    }
  }
  .grid > * + * {
    @include tablet-and-desktop {
      border-left:2px solid $silver;
    }
  }
  .number {
    @include font-size(xl);
  }
  .unit {
    @include font-size(xs);
  }
}
