.market-stats-partial {
  @include content-max-width;
  text-align:center;
  background: $white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.11);
  border-radius: 10px;
  padding:20px 0;
  .grid {
    justify-content:center;
    @include only-phone {
      flex-direction:column;
    }
  }
  .grid > * {
    flex:1;
    @include tablet-and-desktop {
      padding:30px;
    }
    @include only-phone {
      padding:20px;
    }
  }
  .grid > * + * {
    @include tablet-and-desktop {
      border-left:2px solid $silver;
    }
  }
  .number {
    @include font-size(xl);
  }
  .unit {
    @include font-size(xs);
    display:block;
  }
  .source {
    opacity:0.6;
    @include font-size(xxs);
  }
  .source a {
    text-decoration:underline;
  }
}
