.market-stats-partial {
  text-align:center;
  background: $white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.11);
  border-radius: 10px;
  width:calc(100% - 50px);
  max-width:1030px;
  padding:30px 0;
  .grid {
    justify-content:center;
    @media screen and (max-width:600px) {
      flex-direction:column;
    }
  }
  .grid > * {
    @media screen and (min-width:600px) {
      padding:30px;
    }
    @media screen and (max-width:600px) {
      padding:20px;
    }
  }
  .grid > * + * {
    @media screen and (min-width:600px) {
      border-left:2px solid $silver;
    }
  }
  .number {
    font-size:30px;
  }
  .unit {
    font-size:14px;
  }
}
