@import "variables";

@mixin xs {
  @media (max-width: #{$breakpoint-xs}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$breakpoint-xs + 1px}) and (max-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin sm-lg {
  @media (min-width: #{$breakpoint-xs + 1px}) and (max-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$breakpoint-sm + 1px}) and (max-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin line{
  content: '';
  display: block;
  border-left: 2px solid $color-neutral-positive-2;
  position: absolute;
  top: 50%;
  right: 0;
  height: 75%;
  width: 2px;
  transform: translateY(-50%);
}
