//------------------------------
// *****************************
// Rules
// *****************************
//------------------------------
/// SASS version of normalize.scss
/// @website https://github.com/JohnAlbin/normalize-scss
/// @docs https://github.com/JohnAlbin/normalize-scss#how-to-use-it
@import "~normalize.css/normalize.css";

/// General HTML/Body styles
/// border-boxing fix
html, body {
  font-family: $font-sans;
  font-size: $base-font-size;
  font-weight: normal;
  box-sizing: border-box;
  caret-color: $color-error;
  color: $color-neutral-negative-3;
  height: 100%;
  min-height: 100%;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
  outline: 0;
  box-sizing: inherit;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    outline: 0;
  }

  &:before,
  &:after {
    box-sizing: inherit;
  }
}
