//------------------------------
// *****************************
// Variables
// *****************************
//------------------------------


$white: #ffffff;

$breakpoint-xs: 400px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1600px;
