@import '../../style/mixins';

.index-screen {
  header {
    background-image: linear-gradient(-134deg, $aubergineLight 0%, $aubergin 100%);
    color: $white;
    padding-bottom:200px;
  }
  header h1 {
    @include font-size(xxl);
    font-weight:500;
    margin:0;
  }
  header .grid {
    align-items:flex-end;
    justify-content:space-between;
    padding-top:50px;
    @include content-max-width;
    @include only-phone {
      flex-direction:column;
      //width:calc(100% - 20px);
    }
  }
  header .grid > * {
    @include tablet-and-desktop {
      width:calc(50% - 50px);
    }
    @include only-phone {
      width:100%;
    }
  }
  header .grid > * > :last-child {
    margin-bottom:0;
  }
  header .grid .search {
    display:flex;
    justify-content:flex-end;
    @include only-phone {
      margin-top:40px;
    }
  }
  .search-input {
    /* background: */
    background: $smoke;
    box-shadow: 0 4px 8px 0 rgba(60,60,60,0.10);
    border-radius: 100px 0 00px 100px;
    width:100%;

    padding:15px 0 15px 20px;
    @include font-size(s);
  }
  .search-button {
    background: $magaenta;
    box-shadow: 0 4px 8px 0 rgba(60,60,60,0.10);
    border-radius: 0 50px 50px 0;
    border:none;
    color:$white;
    padding:15px 25px 15px 20px;
  }
  .market-stats-partial{
    margin:-95px auto 40px auto;
  }
}
