.account-screen {
  > * {
    max-width:1040px;
    margin:0 auto;
    width:calc(100% - 40px);
  }
  .title {
    margin-top:0;
    font-size:30px;
    border-bottom:2px solid $aubergin;
    padding-bottom:20px;
    margin-bottom:20px;
  }
  .field{
    margin-bottom:20px;
  }
}
