.account-screen {
  > * {
    @include content-max-width;
  }
  .title {
    display:flex;
    align-items:center;
    margin-top:0;
    @include font-size(xl);
    border-bottom:2px solid $aubergin;
    padding-bottom:20px;
    margin-bottom:20px;
  }
  .title .ae-identity-avatar {
    margin-right:20px;
  }
  .header .field {
    display:block;
  }
  .header .field {
    margin-bottom:10px;
  }
  h2 {
    margin-top:60px;
    margin-bottom:20px;
  }
  .pubkey .field-value {
    display:flex;
  }
  .account-public-key {
    overflow:scroll;
    padding:12px;
    margin-top:5px;
    background:white;
    .ae-address {
      @include font-size(m);
    }
  }
  .ae-panel .content {
    padding:0px 15px!important;
  }
  .transactions .transaction:nth-child(odd) {
    background:white;
  }
}
