@import '../../style/mixins';
.generation-list-screen {
  background: $aubergin;
  color:$white;;
  >.inner {
    @include content-max-width;
  }
  .field-name {
    @include font-size(s);
    &_first {
      display: inline-block;
      width: 20px;
      height: 38px;
    }
  }
  .grid {
    border-bottom:2px solid $smoke;
    justify-content:space-between;
    align-items:flex-end;
    flex-wrap:wrap;
    padding-bottom:15px;
    @include only-phone {
      display:block;
    }
  }
  .title {
    font-weight:500;
    @include font-size(xl);
    @include only-phone {
      @include font-size(l);
    }
  }
  .height {
    @include font-size(l);
  }
  tr + tr {
    margin-top:10px;
  }
  .account-address {
    color:$magaenta;
    a {
      display:inline-block;
    }
    .named-address {
      display:inline-block;
    }
    .named-address .ae-address {
      display:inline-block;
      @include font-size(m);
    }
  }
  .table-wrapper {
    overflow-x: auto;
    margin-bottom:50px;
    .transactions {
      width: 100%;
      table-layout: fixed;
      white-space: nowrap;
      @include only-desktop{
        th:nth-child(1) {
          width: 130px;
        }
        th:nth-child(2) {
          width: 250px;
        }
        th:nth-child(5) {
          width: 250px;
        }
      }
      @include phone-and-tablet{
        min-width: 650px;
        th:nth-child(1) {
          width: 80px;
        }
        th:nth-child(2) {
          width: 200px;
        }
        th:nth-child(5) {
          width: 200px;
        }
      }
      td {
        position: relative;
        .fill-dummy {
          max-width: 90%;
          margin: 0 ;
        }
      }
    }
  }
}
