@import '../../style/mixins';
.generation-list-screen {
  background: $aubergin;
  color:$white;;
  >.inner {
    @include content-max-width;
  }
  .field-name {
    @include font-size(s);
  }
  .grid {
    border-bottom:2px solid $smoke;
    justify-content:space-between;
    align-items:flex-end;
    flex-wrap:wrap;
    padding-bottom:15px;
    @include only-phone {
      display:block;
    }
  }
  .title {
    font-weight:500;
    @include font-size(xl);
    @include only-phone {
      @include font-size(l);
    }
  }
  .height {
    @include font-size(l);
  }
  @include only-phone {
    table, td {
      display:block;
    }
    tr {
      display:flex;
      justify-content:space-between;
      flex-wrap:wrap;
    }
    tr + tr {
      margin-top:10px;
    }
  }
  .account-address {
    color:$magaenta;
    a {
      display:inline-block;
    }
    .named-address {
      display:inline-block;
    }
    .named-address .ae-address {
      display:inline-block;
      @include font-size(m);
    }
  }
  .table-wrapper {
    overflow-x: auto;
    margin-bottom:50px;
    .transactions {
      min-width: 969px;
    }
  }
}
