.block-list-screen {
  background: $aubergin;
  color:$white;;
  .inner {
    margin:0 auto;
    max-width:1040px;
    width:calc(100% - 40px);

  }
  .field-name {
    @include font-size(s);
  }
  .grid {
    border-bottom:2px solid $smoke;
    justify-content:space-between;
    align-items:flex-end;
    flex-wrap:wrap;
    padding-bottom:15px;
    @media screen and (max-width:600px) {
      display:block;
    }
  }
  .title {
    font-weight:500;
    @include font-size(xl);
    @media screen and (max-width:600px) {
      @include font-size(l);
    }
  }
  .ago .number {
    @include font-size(xxl);
    @media screen and (max-width:600px) {
      @include font-size(l);
    }
  }
  .ago .unit {
    @include font-size(m);
    @media screen and (max-width:600px) {
      @include font-size(s);
    }
  }
  .ago .unit + .number {
    margin-left:20px;
  }
  .block-number {
    @include font-size(xl);
  }
  @media screen and (max-width:600px) {
    table, td {
      display:block;
    }
    tr {
      display:flex;
      justify-content:space-between;
      flex-wrap:wrap;
    }
    tr + tr {
      margin-top:10px;
    }
    tr td:first-child {
      width:100%;
    }
  }
  .account-address {
    color:$magaenta;
  }
}
