@import '../../style/mixins';

.transaction-detail-screen.screen {
  .transaction-type {
    margin-top: 5px;
    padding: 0 10px;
  }
  >.inner > div {
    background:$white;
    max-width:777px;
    margin:30px auto 0 auto;
    padding:35px 70px;
  }
  .title {
    margin-top:0;
    margin-bottom:0;
    @include font-size(xxl);
    color:$black;
  }
  .title + h2 {
    margin-top:0.3em;
    padding-bottom:1.3rem;
    margin-bottom:1.3rem;
    @include font-size(xl);
    color:$black;
    font-weight:normal;
    border-bottom:2px solid $black;
  }
  .named-address ,
  /deep/ .ae-address {
    @include font-size(m);
  }
  .ae-hash {
    letter-spacing: 2.1px;
  }
  .field .field-value .view-and-copy {
    margin-left:10px;

  }
  .height-item {
    &__data {
      color: $magaenta;
      @include only-phone {
        display: block;
      }
    }

    .confirmations {
      @include only-phone {
        font-size: 14px;
      }
    }
  }
  .ae-loader {
    margin: 0;
  }
}
