.transaction {
  padding:20px 00px;
  .header {
    align-items:top;
  }
  .header ,
  .body .grid {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
  }
  .header > * ,
  .body .grid > * {
    margin:0 20px;
  }
  .header .field:first-child {
    width:35%;
    min-width:240px;
  }
  .field {
    display:block;
  }
  .field-value .ae-address,
  .field-value {
    @include font-size(m);
  }
  a {
    color:$magaenta;
  }
  .query-spec,
  .response-spec,
  .query,
  .response {
    font-family: 'Roboto Mono', monospace;
    background:lighten($black, 20);
    padding:15px;
    max-height:300px;
    overflow:scroll;
    color:darken($white, 10);
  }
}
