@import '../../style/mixins';

.transaction {
  padding:20px 00px;
  display: flex;
  min-width: 889px;
  border-bottom: 2px solid $paleGrey;
  &:hover {
    background:$smoke;
  }
  .header {
    align-items: center;
  }
  .header ,
  .body .grid {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }
  .body .grid {
  }
  .header > * ,
  .body .grid > * {
    margin:0 20px;
  }
  .field {
    display:block !important;
  }
  .field-value .ae-address,
  .field-value {
    @include font-size(s);
    .number, .unit, a {
      color: $aubergin;
    }
  }
  .query-spec,
  .response-spec,
  .query,
  .response {
    font-family: 'Roboto Mono', monospace;
    background:lighten($black, 20);
    padding:15px;
    max-height:300px;
    overflow:scroll;
    color:darken($white, 10);
  }
}
