@import '../../style/mixins';

.transaction {
  padding:20px;
  display: flex;
  min-width: 929px;
  border-top: 2px solid $paleGrey;
  .header ,
  .body .grid {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
  }
  .body {
    width: 100%;
    .ae-badge{
      padding: 0 5px;
    }
  }
  .header > * ,
  .body .grid > * {
    width: 20%;
  }
  .field {
    display:block !important;
  }
  .field-value .ae-address,
  .field-value {
    display: block;
    @include font-size(xs);
    .number, .unit, a {
      color: $aubergin;
    }

    .ae-hash {
      color: $magaenta;
    }
  }
  .query-spec,
  .response-spec,
  .query,
  .response {
    font-family: 'Roboto Mono', monospace;
    background:lighten($black, 20);
    padding:15px;
    max-height:300px;
    overflow:scroll;
    color:darken($white, 10);
  }
}
