@import '../../style/mixins';

.recent-blocks-partial {
  margin-top:80px;
  position:relative;
  > .inner {
    position:relative;
    box-sizing: border-box;
    @include content-max-width;
    background: $aubergin;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.11);
    border-radius: 10px;
    color:$white;
    padding:50px;
    @include only-phone {
      padding:20px;
    }
  }
  &:before {
    content:"";
    display:block;
    position:absolute;
    background-color:$white;
    top:40px;
    bottom:40px;
    left:0;
    width:100%;
  }
  .block-number a {
    @include font-size(xl);
  }
  .account-address {
    color:$magaenta;
    a {
      display:inline-block;
    }
    .named-address {
      display:inline-block;
    }
    .named-address .ae-address {
      display:inline-block;
      @include font-size(m);
    }
  }
  @include only-phone {
    table, td {
      display:block;
    }
    tr {
      display:flex;
      justify-content:space-between;
      flex-wrap:wrap;
    }
    tr + tr {
      margin-top:20px;
    }
    tr td:first-child {
      width:100%;
    }
    tr td:first-child + td {
      @include font-size(m);
    }
  }
}
